doctype html
html
  head
    // head start
    link(rel="stylesheet" type="text/css" href="/css/617566.css" media="all")
    script(type="text/javascript" src="/js/977946.js")
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    link(href="http://7xq9bs.com1.z0.glb.clouddn.com/albin-ga/imgs/favico.jpg" rel="icon")
    link(rel='stylesheet', media="screen" href='http://7xq9bs.com1.z0.glb.clouddn.com/albin-ga/stylesheets/font-awesome.css')
    link(rel='stylesheet', href='http://7xq9bs.com1.z0.glb.clouddn.com/albin-ga/stylesheets/prettify.css')
    script(src="http://7xq9bs.com1.z0.glb.clouddn.com/albin-ga/javascripts/prettify.js")
    if title
      title= title
    if doc && doc.title
      title= doc.title
    style(type='text/css')
      |.article_max_height {
      |max-height:200px;
      |overflow:hidden;}
      |img.wp-smiley,
      |img.emoji {
      |display: inline !important;
      |border: none !important;
      |box-shadow: none !important;
      |height: 1em !important;
      |width: 1em !important;
      |margin: 0 .07em !important;
      |vertical-align: -0.1em !important;
      |background: none !important;
      |padding: 0 !important;
      |.arve-thumb-wrapper { max-width: 500px; }.arve-normal-wrapper.alignleft, .arve-normal-wrapper.alignright, .arve-normal-wrapper.aligncenter { max-width: 500px; }
      |.mc4wp-form input[name="_mc4wp_required_but_not_really"] { display: none !important; }
      |}
    link(rel='stylesheet' id='pluto-main-less-css' href='/css/pluto-main-less.css' media="all")
    script(type="text/javascript" src="/js/yjp2cxg.js")
    // head end
  mixin share_link(item)
    a.os_social_twitter_share(href="http://twitter.com/share?url=http://biebb.cc/#{item.uri}&text=#{item.title}" target="_blank")
      img(src="/imgs/twitter.png" title="Twitter" alt="Tweet about this on Twitter").os_social
    if item.imgs
      a.os_social_pinterest_share(target="_blank" href="//www.pinterest.com/pin/create/button/?url=http://biebb.cc/#{item.uri}&amp;media=#{item.imgs[0]}&amp;description=#{item.title}")
        img(src="/imgs/pinterest.png" title="Pinterest" alt="pin on Pinterest").os_social
    a.os_social_linkedin_share(href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://biebb.cc/#{item.uri}" target="_blank")
      img(src="/imgs/linkedin.png" title="Linkedin" alt="share on linkedin").os_social
    a.os_social_google_share(href="https://plus.google.com/share?url=http://biebb.cc/#{item.uri}" target="_blank")
      img(src="/imgs/google.png" title="Google+" alt="share on Google+").os_social
    a.os_social_email_share(href="mailto:?Subject=#{item.title}&amp;Body=%20http://biebb.cc/#{item.uri}")
      img(src="/imgs/email.png" title="Twitter" alt="email this to someone").os_social
    a.os_social_facebook_share(href="http://www.facebook.com/sharer.php?u=http://biebb.cc/#{item.uri}" target="_blank")
      img(src="/imgs/facebook.png" title="Facebook" alt="share on Facebook").os_social
          
  body(class="single single-post postid-161 single-format-standard menu-position-left menu-trigger-click sidebar-position-right not-wrapped-widgets with-infinite-scroll page-fixed-width wpb-js-composer js-comp-ver-4.2.3 vc_responsive")
    script(type="text/javascript" src="/js/4a9906.js")
    script
      |(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      |(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      |m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      |})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      |ga('create', 'UA-42863888-6', 'pinsupreme.com');
      |ga('send', 'pageview');
    // global menu
    .menu-block.hidden-on-smaller-screens
      .logo
        a(href="/")
          img(src="/imgs/logo@2x.png")
          if theme
            p
              span= theme.slogan
          
      form(role="search" method="get" class="search-form" action="/")
        label
          span.screen-render-text Search for:
          input(type="search" class="search-field" placeholder="Search …" value="" name="s" title="Search for:")
        input(type="submit" value="Search").search-submit
      .divider
      block menu
              
  // 隐藏边栏
  .menu-toggler-w
    a(herf="#").menu-toggler
      i.fa.os-icon-bars
      span.menu-toggler-label Menu
    a(href="/").logo
      img(src="/imgs/logo@2x.png")
      if theme
        span= theme.slogan
        
      
  
  // 主要内容
  .main-content-w     
    if site
      .primary-sidebar-wrapper(style="position:absoluted;")
          #primary-sidebar.primary-sidebar.widget-area(role="complementary")
            aside#widget_tptn_pop-2.widget-4.widget-even.widget.widget_widget_tptn_pop
              h1.widget-title Popular Posts
              .tptn_posts.tptn_posts_widget
                each item, i in site.recent
                  a(href="/#{item.uri}")
                    i.fa.fa-file-o= item.title
            aside#tag_cloud-2.widget-6.widget-odd.widget.widget_tag_cloud
              h1.widget-title Popular Tags
              .tagcloud
                each tag, i in site.tags
                  a(href="/tags/#{i}" title="#{tag.length} topic").tag-link-14= i          
            aside#categories-3.widget-7.widget-even.widget.widget_categories
              h1.widget-title Categories
              ul
                each cat, i in site.categories
                  li.cat-item.cat-item-2
                    a(href="/cats/#{i}" title="#{cat.length} article")= i  
            if theme
              aside#links.widget-9.widget-even.widget
                h1.widget-title Links
                each link, i in theme.links
                  a(href="#{link.url}" title="#{link.intro}" target="_blank")
                    i(class="fa-fw #{link.icon}")= "  "
            aside#copryright.widget-8.widget-odd.widget
              .site-info
                .site-footer-i &copy; 2016 #{author} with help from <a href="http://orgmode.org/" target="_blank">Org-mode</a>.
                    
            
    .main-content-i
      block content
    
  a(href="#").os-back-to-top
  .display-type
  .copyright-tooltip This photo is copyright protected
  script(type="text/javascript" src="/js/core.min.js")
  script(type="text/javascript" src="/js/datepicker.min.js")
  script(type="text/javascript" src="/js/532a46.js")
  script
    |prettyPrint();