extends layout
block content
  .content.side-padded-content.reading-mode-content
    article#post-161.pluto-page-box.post.type-post.status-publish.format-standard
      .post-body
        .single-post-top-features
          .single-post-top-share
            i.fa.os-icon-plus.share-activator-icon.share-activator
            span.share-activator-label.share-activator.caption Share
            .os_social-head-w
              .os_social
                mixin share_link(doc)
          a(href="#" class="single-post-top-reading-mode hidden-xs" data-message-on="Enter Reading Mode" data-message-off="Exit Reading Mode")
            i.fa.os-icon-eye
              span Enter Reading Mode
        h1.post-title.entry-title= doc.title
        .post-meta-top.entry-meta
          .row
            .col-md-6
              .post-date= "Posted on " + doc.date
            .col-md-6
              ul.post-tags
                li
                  a(href="/cats/#{doc.category}")
                    i.fa.fa-folder= " " + doc.category
                each tag, i in doc.tags
                  li
                    a(href="/tags/#{tag}")
                      i.fa.fa-tags= " " + tag
        .post-content.entry-conten
          #content!= doc.contentHTML
      .post-meta.entry-meta
        .meta-like
          iframe(src="//www.facebook.com/plugins/like.php?href=http://biebb.cc/#{doc.uri}&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=21&amp;appId=846692988676299" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px;" allowtransparency="true")
        .os_social-foot-w.hidden-xs
          .os_social
            mixin share_link(doc)
    if theme.duoshuo_shortname
      section#comment
        .ds-thread(data-thread-key="#{doc.uri}", data-title="#{doc.title}", data-url="#{doc.uri}")
      script      
        |var duoshuoQuery = { short_name: '#{theme.duoshuo_shortname}' };
        |(function() {
        |var ds = document.createElement('script');
        |ds.type = 'text/javascript';
        |ds.async = true;
        |ds.src = 'http://static.duoshuo.com/embed.js';
        |ds.charset = 'UTF-8';
        |(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
        |})();

    
              
  