mixin pluto(item)
  .plugthumb
    .tp
      - var bg = ""
      figure.effect-bubba
        if item.imgs.length > 0
          img.lazy(src="#{item.imgs[0]}" data-original="#{item.imgs[0]}")
        else
          - bg = "rand_bg_" + (item.title.length % 3 + 1)
          bg.leaf-gongju-link
            p.leaf-gongju-biaoti= item.title
        figcaption(class="#{bg}")
          p
            i.fa.fa-navicon
            = item.title
          p Reade More
            a(herf="/#{item.uri}") 点击查看详细内容
    .plug-info
      .plug-title
        a(href="/#{item.uri}" title="#{item.title}")= item.title
      .plug-description!= item.tocHTML
    .plug-mesg
      span.pull-right= item.date